// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$sectionColor: rgba(255, 253, 253, 0.7);
$text-hippieGreen: rgba(85, 140, 71, 1);
$text-gray: rgba(73, 73, 73, 1);
$text-dark: rgba(20, 79, 6, 1);
$text-darker: rgba(10, 36, 3, 1);
$text-light: rgba(114, 227, 86, 1);
$text-olivine: rgba(138, 184, 127, 1);
$text-paleLeaf: rgba(188, 212, 182, 1);
$text-warning: rgba(255, 0, 0, 1);

$morale-bar: rgba(156, 156, 156, 0.6);
$chat-receiver: rgba(73, 73, 73, .75);
$chat-sender: rgba(188, 212, 182, .75);