// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'fonts';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'BW Modelica';
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.882) 71.99%, rgba(206, 234, 211, 0.855) 87.12%, rgba(62, 73, 64, 0.9) 98.93%), url(/images/background.webp);
  background-size: cover;
  min-height: 100vh;
}

.material-icons {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

#app {
  min-height: 85vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h2 {
  color: $text-darker;
  font-size: 1.2em;
  font-weight: 700;
}

@media (min-width: 425px) {
  h2 {
    font-size: 1.5em;
  }
}

h3 {
  font-weight: 600;
}

body,
html {
  font-family: 'Bw Modelica';
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  scroll-behavior: smooth;
}

@import 'components/scrollbar';

.container {
  width: 98%;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 980px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 1660px) {
  .container {
    width: 1420px;
  }
}

a {
  color: $text-hippieGreen;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: $text-dark;
  }
}

.btn {
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px 23px;
  cursor: pointer;
  text-align: center;
}

.disabled {
  pointer-events: none !important;
  color: $text-gray !important;
}

.bshadow {
  box-shadow: inset 4px 4px 17px #f0f0f0ad, inset -4px -4px 17px #f0f0f0ad;
  color: white;

  &:hover {
    box-shadow: inset 0px 0px 13px #f0f0f0ad, inset 0px 0px 13px #f0f0f0ad;
  }
}

.squareNum {
  width: 30px;
  height: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
}

.starNum {
  width: 40px;
  height: 40px;
  position: relative;

  img {
    width: 40px;
    height: 40px;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 100%;
    font-size: 1.2em;
  }
}

.disc {
  list-style-type: disc;
}

// Register
.register-radios {
  label:before {
    content: '';
    position: absolute;
    border: 2px solid $text-gray;
    border-radius: 5px;
    width: 37px;
    height: 37px;
    left: -6px;
    top: -4px;
  }

  input[type='radio'][id^='device'] {
    display: none;

    &:checked + label:before {
      content: '';
      border: 3px solid $text-olivine;
    }
  }
}

// Login

.login-btn {
  width: 100%;
}

@media (min-width: 768px) {
  .login-btn {
    width: 74%;
  }
}

// Styling Tabs is on sass/components/players/_tabs

/* Navbar and footer */
@import 'components/navigation';
@import 'components/footer';
@import 'components/log-user-nav'; /* Logged user navigation */

/* Homepage components */
@import 'components/main/main';

/* Other components*/

@import 'components/competition/main'; /* Competition components*/
@import 'components/players/main'; /* Players components*/
@import 'components/teams/main'; /* Teams components*/
@import 'components/ranking/main'; /* Ranking component*/
@import 'components/tournaments/main'; /* Tournaments components*/
@import 'components/help/main'; /* Help components */
@import 'components/leagueWH/main'; /* League Winners History components */

/* Game components */
@import 'components/central/main'; /* Central components:*/
@import 'components/calendar/calendar'; /* Calendar components */
@import 'components/squad/main'; /* Squad components:*/
@import 'components/transfers/main'; /* Transfers components:*/
@import 'components/office/main'; /*Office components */
@import 'components/season/main'; /*Season components */

/* @import 'components/name/ */
