.transfers-content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 'table';
  gap: 2rem;

  .content-table {
    grid-area: table;
  }
}

@media (min-width: 1024px) {
  .transfers-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'table table . . .'
      'table table . . .'
      'table table . . .';
    gap: 1rem;
  }
}
