.transfer-forms {
  .nav-tabs {
    .nav-item {
      .nav-link {
        display: flex;
      }
    }
  }

  form {
    border-top: 3px solid $text-hippieGreen;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: $sectionColor;
    border-radius: 5px;
    border-top-left-radius: 0;
    width: 100%;

    button {
      margin-top: 15px;
      color: white;
    }

    input {
      width: 100%;
    }

    .buyExtraOptions,
    .loanExtraOptions {
      display: none;
      margin-top: 15px;
    }
  }
}
