.details {
  width: 100%;
  padding: 15px 25px 25px;
  background-color: $sectionColor;
  border-top: 3px solid $text-hippieGreen;
  border-top-right-radius: 5px;

  .entities {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 30px;

    .entity {
      h2 {
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      div {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        p {
          font-size: 1.2em;
          font-weight: 600;
        }
      }
    }
  }

  .stats {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;

    > div {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        font-size: 1.1em;
        font-weight: 600;
      }
    }

    .foot {
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}

@media (min-width: 500px) {
  .details {
    .entities {
      grid-template-columns: repeat(2, 1fr);
    }

    .stats {
      > div {
        width: calc(50% - 15px);
      }
    }
  }
}

@media (min-width: 1024px) {
  .details {
    .entities {
      grid-template-columns: repeat(3, 1fr);
    }

    .stats {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: nowrap;

      > div {
        width: unset;
      }
    }
  }
}

@media (min-width: 1440px) {
  .details {
    .entities {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
