.office-finances {
    .office-title {
        padding-bottom: 10px;
    }
    .finances {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      
        .finances-view {
            overflow: scroll;
            max-height: 140px;
            .details-buttons {
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 10px;
                li {
                    margin-right: 5px;
                    list-style-type: none;
                    &.active {
                        font-weight: 700;
                        text-decoration: underline;
                    }
                    &:hover {
                        cursor: pointer; 
                        font-weight: 700;
                    }
                }
            }
            div {
                display: none;
                table {
                    font-size: 12px;
                    border-collapse: collapse;
                    width: 100%;
                    td, th {
                        border: 1px solid #ddd;
                        text-align: left;
                        padding: 4px;
                    }
                    tr {
                        &:nth-child(even) {
                            background-color: #ddd;
                        }
                        th, td {
                            &:first-of-type {
                                padding-right:10px;
                            }
                        }
                    }
                }
            }
            .active {
                display: flex;

            }
        }
    }
    
}