.office-rivals {
    .rivals-statistics {
        .rival-info {
            padding: 0px 5px;
            display: flex;
            justify-content: space-between;
            &:nth-child(2n) {
                background-color: #e4e4e4;
            }
            &:hover {
                background: #dbdbdb;
            }
            .rival-form {
                display: flex;
            }
            .rival-name {
                margin-right: 15px;
            }
            .text-white {
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 22px;
                height:22px;
                font-size: 12px;
                margin: 2px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}