.discord {
  width: 100%;
  height: 500px;
  background: var(--sectionColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 2rem;
  background-color: rgb(99, 90, 153);
  font-weight: bold;
  color: whitesmoke;

  &:first-of-type {
    display: none;
  }

  &:last-of-type {
    margin: 0;
  }
}

a {
  .btn-discord {
    img {
      height: 65px;
      width: 65px;
      bottom: 20px;
      left: 20px;
      z-index: 20;
      position: fixed;
    }
  }
}

@media (min-width: 768px) {
  .discord {
    width: 30%;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .discord {
    &:first-of-type {
      display: flex;
    }
  }
}
