// Menagoleague stats

.menagoleague-stats {
  background-color: $sectionColor;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 2rem;
  width: 100%;
  box-shadow: inset 0px -4px 5px rgba(176, 176, 176, 25%);

  h2 {
    margin-bottom: 35px;
  }

  .menagoleague-stats-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 35px;
  }
}

.menagoleague-stats-content-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.menagoleague-stats-content-item-large {
  width: 100% !important;
}

.menagoleague-stats-content-item-number {
  font-size: 2em;
  font-weight: bold;
}

.menagoleague-stats-content-item-desc {
  color: var(--text-gray);
  font-size: 1.3em;
  text-align: center;
  width: 100%;
}

.menagoleague-stats-p {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

.content-mobile {
  flex-direction: column;
}

@media (min-width: 768px) {
  .menagoleague-stats-p {
    font-size: 1em;
  }

  .menagoleague-stats {
    width: calc(70% - 2rem);
    margin-right: 1rem;
    margin-bottom: 0;

    h2 {
      font-size: 1.1em;
    }

    .menagoleague-stats-container {
      margin-bottom: 0;
    }
  }

  .content-mobile {
    flex-direction: unset;
  }

  .menagoleague-stats-content-item-number {
    font-size: 1.5em;
  }

  .menagoleague-stats-content-item {
    width: 95%;
    margin-bottom: 15px;
  }

  .content-mobile {
    align-items: center;
  }

  .menagoleague-stats-content-item-large {
    .menagoleague-stats-content-item-number,
    .menagoleague-stats-content-item-desc {
      font-size: 1.2em;
    }
  }
}

@media (min-width: 1024px) {
  .content-mobile {
    align-items: unset;
  }

  .menagoleague-stats-p {
    font-size: 1.2em;
  }

  .menagoleague-stats {
    width: calc(50% - 4rem);

    h2 {
      font-size: 1.5em;
      margin-bottom: 30px;
    }
  }

  .menagoleague-stats-content-item-number {
    font-size: 2em;
  }

  .menagoleague-stats-container {
    flex-direction: unset;
    align-items: unset;
    flex-wrap: wrap;
    flex-direction: row !important;
    margin-bottom: 35px !important;
  }

  .menagoleague-stats-content-item {
    width: 50%;
    margin-bottom: 20px;
  }

  .menagoleague-stats-content-item-desc {
    font-size: 1.2em;
  }

  .menagoleague-stats-content-item-large {
    .menagoleague-stats-content-item-number {
      font-size: 2em;
    }

    .menagoleague-stats-content-item-desc {
      font-size: 1.2em;
    }
  }
}

@media (min-width: 1440px) {
  .menagoleague-stats-content-item-desc {
    font-size: 1.3em;
  }

  .menagoleague-stats-content-item {
    width: 42%;
  }

  .menagoleague-stats-container {
    margin-bottom: 21px !important;
  }
}

@media (min-width: 1660px) {
  .menagoleague-stats {
    h2 {
      margin-bottom: 50px;
    }
  }

  .menagoleague-stats-container {
    margin-bottom: 65px;
  }
}
