@font-face {
  font-family: 'EA Font';
  font-weight: 500;
  src: url('/fonts/EASPORTS15.ttf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/BwModelicaSS02-Hairline.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/BwModelicaSS02-Thin.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/BwModelicaSS02-Light.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/BwModelicaSS02-Regular.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/BwModelicaSS02-Medium.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/BwModelicaSS02-Bold.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/BwModelicaSS02-ExtraBold.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/BwModelicaSS02-Black.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/BwModelicaSS02-HairlineItalic.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/BwModelicaSS02-ThinItalic.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/BwModelicaSS02-LightItalic.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/BwModelicaSS02-RegularItalic.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/BwModelicaSS02-MediumItalic.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/BwModelicaSS02-BoldItalic.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/BwModelicaSS02-ExtraBoldItalic.otf');
}

@font-face{
  font-family: 'BW Modelica';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/BwModelicaSS02-BlackItalic.otf');
}