/* Notifications */
.central-notifications {
  background-color: $sectionColor;
  padding: 20px;
  height: 313px;
  max-height: 313px;
  border-radius: 5px;
  box-shadow: inset 0px -4px 5px rgba(176, 176, 176, 25%);
  position: relative;
}

.notifications-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .notifications-content-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.3em;
      font-weight: 600;
    }
  }
}

.central-notifications-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;

  h2 {
    width: 100%;
    margin: 5px 0 10px 0;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 4px;
  }

  span {
    font-size: 10em;
  }

  h3 {
    margin: 10px 0;
    text-align: center;
    font-size: 1.2em;
  }

  p {
    width: 65%;
    text-align: center;
  }

  .notifications-content-item {
    display: flex;
    justify-content: space-evenly;

    &:nth-of-type(2n) {
      background-color: rgb(228, 228, 228);
    }

    > img {
      width: 34px;
      height: 45px;
      object-fit: cover;
      align-self: center;
    }

    div {
      position: relative;

      img {
        min-width: 150px;
        width: max-content;
        height: 54px;
      }

      p {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;

        &:last-of-type {
          bottom: 0;
          top: unset;
        }
      }
    }
  }
}

.header-w-tab {
  width: 100%;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 4px;

  h2 {
    font-size: 1.1em;
    width: 80%;
    margin: unset;
    border-bottom: unset;
    padding-bottom: unset;
    line-height: 130%;
  }
}

.menago-toast {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &-header {
    padding: 5px 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-weight: 600;
    font-size: 1.1em;

    .date-close {
      display: flex;
      align-items: center;
      gap: 5px;

      .date {
        font-weight: normal;
        font-size: 0.8em;
        text-align: right;
        min-width: 60px;
      }

      .close {
        padding: 0 5px;
        line-height: 100%;
        color: $moral-bad;
        font-size: 2em;
      }
    }
  }

  &-body {
    padding: 0.5rem;
    background-color: #ebebeb;
  }
}
